// https://coolors.co/00a2ff-f7f0f0-8af3ff-0a3a59-8d9da0

$celestial-blue: hsla(202, 100%, 50%, 1);
$snow: hsla(0, 30%, 95%, 1);
$electric-blue: hsla(186, 100%, 77%, 1);
$indigo-dye: hsla(204, 80%, 19%, 1);
$cadet-gray: hsla(189, 9%, 59%, 1);
